bin/pom.xml

# Ignore unpacked C++ librairies
*.so
*.a

# Ignore compilation folder
qimessaging/target/
bin/*/target/
*.jar


# Ignore Eclipse configuration files
*.class
*.classpath
*.project
*.settings
